{% extends 'base.html' %}
{% load static %}


{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                {% for  image_item in product.productimage_set.all %}
                    <div class="image-prod-item">
                        <img src="{{image_item.image.url}}" class="img-fluid">
                    </div>
                {% endfor %}
            </div>
            <div class="col-lg-6">
                <h1 class="text-center">
                    {{ product.name }}
                </h1>
                <div class="">
                    <p>
                        Price: {{ product.price }}

                    </p>
                </div>
                <div>
                    <nav>
                      <div class="nav nav-tabs" id="nav-tab" role="tablist">
                        <button class="nav-link active" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#description" type="button" role="tab" aria-controls="nav-home" aria-selected="true">Description</button>
                        <button class="nav-link" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#characteristic" type="button" role="tab" aria-controls="nav-profile" aria-selected="false">Characteristic</button>
                        <button class="nav-link" id="nav-contact-tab" data-bs-toggle="tab" data-bs-target="#delivery" type="button" role="tab" aria-controls="nav-contact" aria-selected="false">Delivery</button>
                      </div>
                    </nav>
                    <div class="tab-content product-description-tabs" id="nav-tabContent">
                        <div class="tab-pane fade show active" id="description" role="tabpanel" aria-labelledby="nav-home-tab"><p>{{ product.description }}</p></div>
                        <div class="tab-pane fade" id="characteristic" role="tabpanel" aria-labelledby="nav-profile-tab"><p>Main characteristic</p></div>
                        <div class="tab-pane fade" id="delivery" role="tabpanel" aria-labelledby="nav-contact-tab"><p>How we are delivery our Product?</p></div>
                    </div>

                </div>
                <div class="row">
                    <div class="col-lg-6">
                        <form id = "form_buying_product" >
                            <input type="number" min="1" id="quanty" class="form-control">
                        </form>
                    </div>
                    <div class="col-lg-6">
                        <button type="submit"
                            data-product-id="{{ product.id }}"
                            data-product-name="{{ product.name }}"
                        id="submit-btn-product" class="btn btn-success btn-buy"
                        >
                            Buy
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
